@{
    ViewBag.Title = "News & Events";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <a href="javascript:;">The Smart Mall Application is now available!</a><br />
    <a href="javascript:;">Mall will be closed on Canada Day</a><br />
    <a href="javascript:;">Leasing opportunities are now available</a><br />
</p>
