@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address class="label label-default" >
    <font size="10"><b>Location & Mall Hours</b></font>
    <br />
    2000 Lawrence Avenue<br />
    Toronto, ON L2A 42U<br />
    <br />
    Weekdays: 9:00am to 8:00pm<br />
    Weekends: 10:00am to 5:00pm<br />
    <br />
    See the News section for information on holiday mall hours<br />
</address>

<address class="label label-default">
    <font size="10"><b>Contact Information</b></font>
    <br />
    <b><u>Management Office</u></b><br />
    <a href="mailto:info@mall.com">info@mall.com</a><br />
    (647) 222-3333<br />
    <br />
    <b><u>Owner</u></b><br />
    John Smith<br />
    <a href="mailto:owner@mall.com">owner@mall.com</a><br />
    (416) 888-9999
</address>