@{
    ViewBag.Title = "Welcome ";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This is the first test for coe 800</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Find A Store &raquo;</a></p>
</div>

<div class="row">

    @{ if (User.IsInRole("Admin"))
        {
            <div class="col-md-12">
                <h2>Welcome Admin </h2>
                <p>To Find a Store press below</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Track A store &raquo;</a></p>

            </div>
        }
    }
    @{ if (User.IsInRole("Manager"))
        {
            <div class="col-md-12">
                <h2>Welcome Manager </h2>
                <p>To Find a Store press below</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Track A store &raquo;</a></p>
            </div>
        }
    }
    @{ if (User.IsInRole("Guest"))
        {
            <div class="col-md-12">
                <h2>Welcome Guest </h2>
                <p>To Find a Store press below</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Track A store &raquo;</a></p>
            </div>
        }

    }

    <form>

        <label for="allDevices">All Devices</label><input id="allDevices" type="checkbox" hidden checked>
        <p id="BLE">BLE LISt</p>

    </form>
    <p><a class="btn btn-default" onclick="onButtonClick()">List of BLE Devices &raquo;</a></p>
    
    <script>

         async function onButtonClick() {
            
            let filters = [];



            let options = {};
            
            
                options.filters = '0000fe9a-0000-1000-8000-00805f9b34fb',
            
           navigator.bluetooth.requestDevice({
                filters: [{
                 services: [ '0000fe9a-0000-1000-8000-00805f9b34fb']
                }]
                })
                
             const device = navigator.bluetooth.requestDevice(options);
             document.getElementById("BLE").innerHTML = + device.id;
        }
         
    </script>
    </div>

