
<h2>Store Tracker</h2>
<p>Your location is shown in <font color="red">red</font></p>
<p>Your friend's location is shown in <font color="green">green</font></p>
<img src="~/Images/MallMap1/mapgrid_botleft.jpg">